
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-wedding-beige text-gray-900 font-sans;
    background: linear-gradient(to bottom, rgba(110, 45, 145, 0.05), rgba(74, 103, 65, 0.05));
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair text-wedding-purple;
  }

  section:nth-of-type(odd) {
    background-color: #F2FCE2; /* Vert très pâle */
  }

  section:nth-of-type(even) {
    background-color: #FFDEE2; /* Rose très pâle */
  }
}

.smooth-scroll {
  scroll-behavior: smooth;
}
